<nav>
  <div class="nav_content">
      <a class="nav_logo" href="{{site.url}}">
          <img src="{{theme.link}}/static/images/logo_asus.png" alt="">
      </a>

      <ul class="nav_list">
          <li>
              <a href="">Lorem</a>
          </li>
          <li>
              <a href="">Lorem</a>
          </li>
          <li>
              <a href="">Lorem</a>
          </li>

          <ul class="nav_sociallist mobile">
            {% for item in social_menu.items %}          
              <li>
                <a href="{{item.link}}" target="_blank">
                  <i class="fab fa-{{item.slug}}"></i>
                </a>
              </li>
            {% endfor %}
          </ul>
      </ul>

      <ul class="nav_sociallist desktop">
        {% for item in social_menu.items %}          
          <li>
            <a href="{{item.link}}" target="_blank">
              <i class="fab fa-{{item.slug}}"></i>
            </a>
          </li>
        {% endfor %}
      </ul>


      <button class="burguer_mobile">
          <span></span>
          <span></span>
          <span></span>
      </button>
  </div>
</nav>
  
  